{% extends 'djapp/base.html' %}
{% block main_block %}
<div class="container fs-4">
    <div class="card align-items-center m-5 p-5">
        <h5 class="card-title display-5 pb-3">Add Category</h5>
        <form method = "POST"> {% csrf_token %}
            {{ form.as_p }}
            <div class="row pt-3">
                <button class="btn col-5 offset-1 btn-lg btn-outline" style=" background-color: #7abecc;" type="submit">Save</button>
                <button class="btn col-5 offset-1 btn-lg btn-danger"  type="reset">Cancel</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}