{% extends 'djapp/base.html' %}
{% load static %}

{% block main_block %}
<center>
    {% if Posts %}
        {% for Post in Posts %}
            <div class="card mx-auto mt-4" style="width: 70%;">
                <h3 class="card-title display-4">{{ Post.User_id }}
                <span class="fs-6 fw-light">{{ Post.Date }}</span>
                </h3>
                {% comment %} post content {% endcomment %}
                <div class="card-body">
                    <span class="badge rounded-pill bg-primary">{{ Post.Post_category }}</span>
                    {% for tag in Post.Tags.all %}
                    <span class="badge rounded-pill bg-dark">{{ tag }}</span>
                    {% endfor %} 
                </div>
                <h5 class="card-title display-5">{{ Post.Title }}</h5>
                <p class="card-text">{{ Post.Content }}</p>
                {% comment %} likes & dislike counter {% endcomment %}
                {% if request.user.id and request.user.is_staff %}
                    <div class="row">
                        <span class="col-2">
                            <i class="bi bi-star-fill">{{ Post.Likes }}</i> 
                        </span>
                        <span class="col-2">
                            <i class="bi bi-star">{{ Post.Dislikes }}</i>
                        </span>
                    </div>
                {% endif %}
                <div class="card" style="width:100%;">
                    <img src="{% static Post.Picture %}" class="card-img-top" alt="..."/>
                </div>
            </div>
        {% endfor %}
        {% else %}
            <h1 class="display-3 pt-5">
                There is no posts in this category
            </h1>
        {% endif %}
</center>
{% endblock%}