<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Blog</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <!-- <li class="nav-item active">
            <button type="button" class="btn btn-primary">Login</button>
        </li> -->
        <div class="text-end">
            <button type="button" class="btn btn- btn-primary me-2">Login</button>
            <button type="button" class="btn  btn-primary">Sign-up</button>
          </div>
        <!-- <li class="nav-item">
            <button type="button" class="btn btn-primary">Sign up</button>
        </li> -->
      </ul>
    </div>
  </nav>

  