<header class="p-1 text-white" style="background-color: #7abecc;">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <svg xmlns="http://www.w3.org/2000/svg" width="35" height="45" fill="currentColor" class="bi bi-bootstrap-fill" viewBox="0 0 16 16">
        <path d="M6.375 7.125V4.658h1.78c.973 0 1.542.457 1.542 1.237 0 .802-.604 1.23-1.764 1.23H6.375zm0 3.762h1.898c1.184 0 1.81-.48 1.81-1.377 0-.885-.65-1.348-1.886-1.348H6.375v2.725z"/>
        <path d="M4.002 0a4 4 0 0 0-4 4v8a4 4 0 0 0 4 4h8a4 4 0 0 0 4-4V4a4 4 0 0 0-4-4h-8zm1.06 12V3.545h3.399c1.587 0 2.543.809 2.543 2.11 0 .884-.65 1.675-1.483 1.816v.1c1.143.117 1.904.931 1.904 2.033 0 1.488-1.084 2.396-2.888 2.396H5.062z"/>
      </svg>
      {% if not request.user.is_staff and request.user.id %}
        <h1 class="offset-2 display-6" style="color: rgb(255, 73, 73);">You Are Blocked</h1>
      {% endif %}
      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0"></ul>
      <form class=" mt-3 d-flex" method=POST action="{% url 'search' %}">
        {% csrf_token %}
        <input class="form-control me-2" type="search" placeholder="Post Search" aria-lable="Search" name="searched">
          <button class="me-2 btn btn-outline-light" type="submit">
            Search
          </button>
      </form>
      <div class="text-end">
        <a href="{% url 'home' %}" class="btn btn-outline-light me-2">Home</a>
        {% if request.user.is_superuser %}
          <a href="{% url 'blog' %}" class="btn btn-outline-light me-2">blog</a> 
        {% endif %}
        {% if request.user.id %}
          <a href="{% url 'signout' %}" class="btn btn-outline-light me-2">signout</a>
        {% else %}
          <a href="{% url 'login' %}" class="btn btn-outline-light me-2">Login</a>
          <a href="{% url 'register' %}"  class="btn btn-primary">Sign-up</a>
        {% endif %}
      </div>
    </div>
  </div>
</header>