{% extends 'djapp/base.html' %}
{% load static %} 
{% block main_block%}
    <div class="row">
      <div class="col-md-2" style=" background-color: #7abecc;">
        <div
          class="d-flex flex-column flex-shrink-0 p-3 text-white"
          style="width: 280px" >
          <a href="/"
            class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bootstrap-fill" viewBox="0 0 16 16">
            <path d="M6.375 7.125V4.658h1.78c.973 0 1.542.457 1.542 1.237 0 .802-.604 1.23-1.764 1.23H6.375zm0 3.762h1.898c1.184 0 1.81-.48 1.81-1.377 0-.885-.65-1.348-1.886-1.348H6.375v2.725z"/>
            <path d="M4.002 0a4 4 0 0 0-4 4v8a4 4 0 0 0 4 4h8a4 4 0 0 0 4-4V4a4 4 0 0 0-4-4h-8zm1.06 12V3.545h3.399c1.587 0 2.543.809 2.543 2.11 0 .884-.65 1.675-1.483 1.816v.1c1.143.117 1.904.931 1.904 2.033 0 1.488-1.084 2.396-2.888 2.396H5.062z"/>
          </svg>
            <span class="fs-4">Categories</span>
          </a>
          <hr/>
          <ul class="nav nav-pills flex-column mb-auto">
            {% for cat in categories %}
            <li class="nav-item">
              <a href="#" style="color: white" class="nav-link" aria-current="page">
                <svg class="bi me-2" width="16" height="16">
                  <use xlink:href="#home"></use>
                </svg>
                {{cat.Name}}
              </a>
              <!-- if user login show Subscribe and unSubscribe -->
              {% if request.user.id %}
              {% if cat.Name in my_category %}
                <button type="button" class="btn btn-outline-light"><a href="/djapp/unsubscribe/{{cat.id}}" style= "color:rgb(75, 73, 73)">Unsubscribe</a></button>
                {% else %}
                <button type="button" class="btn btn-outline-light"><a href="/djapp/subscribe/{{cat.id}}" style="color:rgb(116, 116, 116)">Subscribe</a></button>
              {% endif %}
              {% endif %}
            </li>
          {% endfor %}
          </ul>
        </div>
      </div>
<!-- ------------------------------------------------------------------------- -->
      <div class="col-md-10">
        {% for post in posts %}
          <div class="card" style="width:100%;">
            <img src="{% static 'img/' %}{{post.Picture}}" class="card-img-top" alt="..."/>
            <div class="card-body col-12 ">
              <h5 class="card-title">{{post.Title}}</h5>
              <button type="button" class="btn btn-outline"style=" background-color: #7abecc;"><a href="{% url 'p_show' post.id %}"style="color:white">see more</a></button>
            </div>
          </div>
        {% endfor %}
<!-- --------------------------------------------------------------- -->
      </div>
    </div>
{% endblock %} 