{% extends 'djapp/base.html' %}
{% load static %} 
{% block main_block%}
    <div class="row">
      <div class="col-md-3" style=" background-color: #7abecc;">
        <div
          class="d-flex flex-column flex-shrink-0 p-3 text-white"
          style="width: 280px" >
          <a href="/"
            class="d-flex align-items-center ms-5 mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
            <span class="fs-1 mb-5">Categories</span>
          </a>
          <ul class="nav nav-pills flex-column mb-auto">
            {% for cat in categories %}
            <li class="nav-item p-1 mb-5 ms-2 row">
                <a style=" text-decoration: none; color: white;" class="col-6 mt-1 fs-5" href="{% url 'categoryposts' cat.id %}">
                {{cat.Name}}
                </a>
              <!-- if user login show Subscribe and unSubscribe -->
              {% if request.user.id %}
              {% if cat.Name in my_category %}
              <a class="btn btn-outline-light col-6" href="/djapp/unsubscribe/{{cat.id}}">Unsubscribe</a>
                {% else %}
              <a class="btn btn-outline-light col-6 " href="/djapp/subscribe/{{cat.id}}" >Subscribe</a>
              {% endif %}
              {% endif %}
            </li>
          {% endfor %}
          </ul>
        </div>
      </div>
<!-- ------------------------------------------------------------------------- -->
      <div class="col-md-9">
        {% for post in posts %}
          <div class="card mb-3" style="width:100%;">
            <div class="card-body col-12 ">
              <h3 class="card-title">{{post.Title}}</h3>
              <button type="button" class="btn btn-outline"style=" background-color: #7abecc;">
                <a href="{% url 'p_show' post.id %}" style=" text-decoration: none; color: white;">
                  see more</a>
              </button>
            </div> 
            <img src="{% static post.Picture %}" class="card-img-top" alt="..."/>
          </div>
        {% endfor %}
<!-- --------------------------------------------------------------- -->
    </div>
{% endblock %} 