{% extends 'djapp/base.html' %}
{% block main_block %}
    <div class="container fs-4">
        <div class="card m-5 p-5">
            <h5 class="card-title display-5">Post</h5>
            <form method = "POST" enctype="multipart/form-data"> {% csrf_token %}
                {{ form.as_p }}
                <button class="btn btn-lg btn-outline" style=" background-color: #7abecc;" type="submit">Save</button>
                <button class="btn btn-lg btn-danger"  type="reset">Cancel</button>
            </form>
        </div>
    </div>
{% endblock %}