{% extends 'djapp/base.html' %}
{% load static %}
{% block main_block %}
<div class="card mx-auto" style="width: 70%;">
    <div class="card" style="width:100%;">
        <img src="{% static Post.Picture %}" class="card-img-top" alt="..."/>
        <div class="card-body p-4 col-12 ">
            <h3 class="card-title display-4">{{ Post.User_id }}
                <span class="fs-6 fw-light">{{ Post.Date }}</span>
            </h3>
            <span class="badge rounded-pill bg-primary">{{ Post.Post_category }}</span>
            {% for tag in Post.Tags.all %}
                <span class="badge rounded-pill bg-dark">{{ tag }}</span>
            {% endfor %} 
            <h5 class="card-title display-5">{{ Post.Title }}</h5>
            <p class="card-text">{{ Post.Content }}</p>
            {% if request.user.id and request.user.is_staff %}
                    {% if my_post %}
                        <a href="/djapp/unlike/{{Post.id}}" class="btn btn-outline"style=" background-color: #7abecc;">Unlike</a>
                    {% else %}
                        <a href="/djapp/like/{{Post.id}}" class="btn btn-outline"style=" background-color: #7abecc;">Like</a>
                    {% endif %}
                    {% if my_post1 %}
                        <a href="/djapp/undislike/{{Post.id}}" class="btn btn-outline"style=" background-color: #7abecc;">Undislike</a>
                    {% else %}
                        <a href="/djapp/dislike/{{Post.id}}" class="btn btn-outline"style=" background-color: #7abecc;">Dislike</a>
                    {% endif %}
                    <div class="row mt-3">
                        <span class="col-2">
                            <i class="bi bi-star-fill">{{ Likes_no }}</i> 
                        </span>
                        <span class="col-2">
                            <i class="bi bi-star">{{ Dislikes_no }}</i>
                        </span>
                    </div>
                </div>
                <div class="p-4 pt-0">
                    <form method="post">
                        {%csrf_token %}
                        <H2> Comment Here</H2>
                        {{form.as_p}}
                        <input type ="submit" value="Comment">
                    </form>
                    {%for comment in comments%}
                        <p><strong>{{comment.User_id}} : </strong> <strong>{{comment.Text}} </strong> , <strong>{{comment.Time}}</strong></p>
                    {% endfor %}
                </div>
            {% endif %}
    </div>
</div>
{% endblock %}